alkana
emoji
googletrans==4.0.0rc1
keyboard
mecab-python3
openai
pandas
PyAudio
playsound==1.2.2
pytchat
requests
torch
unidic
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
